
.home {
  padding: 2rem;
}

.w {
  color: white;
}

#exoplanet_img_container {
  width: 350px;
  height: 350px;
}

#exoplanet_container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
}

#exoplanet_details_container {
  padding: 2rem 5rem;
  display: flex;
  gap: 1.5rem;
  margin: auto 0 auto 12vw;
  flex-direction: column;
  border: 1px solid rgb(60, 60, 60);
  background-color: rgb(18, 18, 18);
}

.details_nobg {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

.exoplanet_detail {
  font-size: 26px;
}

#exoplanet_main {
  margin-top: 10vh;
  padding: 0 5rem;
  display: flex;
 /*  border: 1px solid grey; */
}

.exoplanet_name {
  margin: 0 auto -0.4rem auto;
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 600;
}


.exoplanet_type {
  font-weight: 400;
  color: grey;
  width: max-content;
  margin: 0 auto 1rem auto;
}

.exoplanet_distance {
  margin: 1rem auto;
  color: grey;
  font-size: 22px;
}

.planet {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid rgb(163, 162, 162); */
  border-radius: 50%;
  box-sizing: border-box;
  padding: 1px;
  cursor: pointer;
}

.planet:hover {
  outline: 2px solid rgb(163, 162, 162);
}

.unit {
  color: rgb(0, 149, 255);
}

#showEarthBtn {
  cursor: pointer;
  background: none;
  opacity: 0.6;
  color: white;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  margin: auto 0;
  padding: 0;
}
#showEarthBtn:hover {
  opacity: 1;
}

.showearth_container {
  display: flex;
}

.nav {
  display: flex;
  gap: 3rem;
}



#earth_container {
  position: relative;
  height: var(--earth-size);
  width: var(--earth-size);
  margin: auto 0;
  opacity: 0;
  animation: appear 200ms linear forwards;
}

#earth_container::after {
  font-family: 'Inter';
  color: grey;
  position: absolute;
  text-align: center;
  content: 'Realistic size comparison';
  bottom: 0;
  left: 0;
  right: 0;
  top: 110%;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.back_button {
  margin: auto 0;
  display: flex;
  gap: 0.5rem;
  opacity: 0.6;
  cursor: pointer;
  height: max-content;
}

.back_button:hover {
  opacity: 1;
}


.back_button_span {
  margin: auto 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  font-family: 'Inter';
}

.back_arrow {
  height: 2rem;
}